:root{
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* gradients */
  /* background */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  /* circle */
  --Violet-blue-: hsla(256, 72%, 46%, 1);
  --Persian-blue-: hsla(241, 72%, 46%, 0);
 }
 @font-face {
  font-family: Hanken Grotesk Variable Font;
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
 }

 *{
  box-sizing: border-box;
  margin: 0;
  font-family: "Hanken Grotesk Variable Font", sans-serif;
 }
 html{
  font-size: 62.5%;
 }
 body{
  background-color: white;
 }
 .results--card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  background: rgb(45,42,232);
  background: linear-gradient(0deg, rgba(45,42,232,1) 0%, rgba(120,86,255,1) 100%);
  color: white;
  text-align: center;
 }
 .results--title{
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(226, 215, 215);
 }
 .results--circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-top: 20px; rgba(35,32,201,1)
  padding: 22px; 
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(35,32,201,1) 0%, rgba(77,32,201,1) 100%);
 }
 .circle--bignumber{
  font-size: 4rem;
  font-weight: 700;
 }
 .circle--number{
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(177, 171, 171);
 }
 .score--container{
  margin-bottom: 20px;
  padding: 0 20px;
 }
 .score--title{
  margin-top: 20px;
  font-size: 2.1rem;
  font-weight: 700;
 }
 .score-info{
  margin-top: 4px;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(220, 209, 209);
 }
 .summary-card--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
 }
 .summary-card--container h3{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 12px;
  margin-left: 16px;
  color: rgb(87, 83, 83);
 }
 .summary--card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 0px 20px 12px 20px;
  border-radius: 12px;
  background-color: rgb(238, 229, 230);
  font-size: 1.3rem;
 }
 .red{
  color: var(--Light-red)
 }
 .yellow{
  color: var(--Orangey-yellow);
 }
 .green{
  color: var(--Green-teal);
 }
 .blue{
  color: var(--Cobalt-blue);
 }
 .thunder-icon{
  display: inline-block;
  background-image: url(./assets/images/icon-reaction.svg);
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
 }
 .brain-icon{
  display: inline-block;
  background-image: url(./assets/images/icon-memory.svg);
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
 }
 .message-icon{
  display: inline-block;
  background-image: url(./assets/images/icon-verbal.svg);
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
 }
 .eye-icon{
  display: inline-block;
  background-image: url(./assets/images/icon-visual.svg);
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
 }
 .summary--card span:nth-child(2){
  font-weight: bold;
  margin-left: 12px;
 }

 .card--score span:nth-child(1){
  font-weight: bold;
  color: black;
 }
 .card--score span:nth-child(2){
  font-weight: bold;
  color: rgb(177, 171, 171);
 }
 button{
  align-self: center;
  background-color: rgb(22, 21, 21);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 12px 1px;
  padding: 12px 120px;
  border-radius: 18px;
 }